.container {
  width: 65%;
  display: flex;
  overflow-x: hidden;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title {
  font-size: 36px;
  color: #116a7b;
  font-weight: 600;
  margin-bottom: 15px;
}

.loginBtnBox {
  width: 100%;
}

.inputBox {
  width: 350px;
  height: 55px;
  margin-top: 10px;

  border-radius: 5px;
  font-size: 23px;
}

.inputBox:focus {
  background-color: rgb(214, 222, 247);
  font-size: 23px;
}

.loginBtn {
  width: 100%;
  height: 60px;
  margin-top: 30px;
  font-size: 23px;
  text-align: center;
  background-color: #116a7b;
  justify-content: center;
  border: none;
  border-radius: 5px;
  padding: 10px;
  color: white;
  font-weight: 700;
  cursor: pointer;
}

.registerBtn {
  width: 350px;
  height: 60px;
  margin-top: 50px;
  margin-left: 0;
  font-size: 23px;
  text-align: center;
  background-color: #c2dedc;
  border: none;
  border-radius: 5px;
  padding: 10px;
  color: white;
  font-weight: 700;
  cursor: pointer;
}

.registerBtn:hover {
  background-color: #116a7b;
}

.googleBtn {
  width: 350px;
  height: 60px;
  margin-top: 15px;
  margin-left: 0;
  font-size: 23px;
  text-align: center;
  background-color: #c2dedc;
  border: none;
  border-radius: 5px;
  padding: 10px;
  color: white;
  font-weight: 700;
  cursor: pointer;
}

.googleBtn:hover {
  background-color: #116a7b;
}

.error {
  color: #116a7b;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 10px;
}
