.container {
  width: 65%;
  display: flex;
  overflow-x: hidden;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title {
  font-size: 36px;
  color: #116a7b;
  font-weight: 600;
  margin-bottom: 22px;
}

form,
.buttonBoxWrapper,
.buttonBox {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}

.inputBox,
.loginBtn,
.registerBtn,
.googleBtn {
  margin: auto 0;
}

.mypageInput {
  width: 400px;
  height: 60px;
  margin-top: 10px;

  border-radius: 5px;
  font-size: 28px;
}

.mypageInput:focus {
  background-color: rgb(214, 222, 247);
  font-size: 28px;
}

.correctBtn {
  width: 100%;
  margin-top: 30px;
  font-size: 25px;
  text-align: center;
  background-color: #116a7b;
  border: none;
  border-radius: 5px;
  padding: 10px;
  color: white;
  font-weight: 700;
  font-size: 15px;
  cursor: pointer;
}

.mypageInput {
  width: 350px;
  height: 55px;
  margin-top: 10px;

  border-radius: 5px;
  font-size: 23px;
}

.correctBtn,
.cancelBtn {
  width: 360px;
  height: 70px;
  margin-top: 50px;
  margin-left: 0;
  font-size: 25px;
  text-align: center;
  background-color: #116a7b;
  border: none;
  border-radius: 5px;
  padding: 10px;
  color: white;
  font-weight: 700;
  cursor: pointer;
}

.secessionBtn {
  width: 360px;
  height: 70px;
  margin-top: 50px;
  margin-left: 0;
  font-size: 25px;
  text-align: center;
  background-color: #c2dedc;
  border: none;
  border-radius: 5px;
  padding: 10px;
  color: white;
  font-weight: 700;
  cursor: pointer;
}

.correctBtn {
  margin-top: 40px;
}

.cancelBtn {
  margin-top: 20px;
}

.correctBtn:hover,
.cancelBtn:hover {
  background-color: #c2dedc;
  color: rgb(45, 92, 79);
}

.secessionBtn:hover {
  background-color: #116a7b;
}
