@font-face {
  font-family: 'KBO-Dia-Gothic_bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/KBO-Dia-Gothic_bold.woff')
    format('woff');
  font-weight: 700;
  font-style: normal;
}

.wrapper {
  margin-top: 35px;
  width: 65%;
  display: flex;
  overflow-x: hidden;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  position: fixed;
}

.loadingText {
  color: white;
  font-size: 1.5em;
  font-family: 'KBO-Dia-Gothic_bold';
}

.noCollection {
  border: none;
  font-size: 25px;
  color: #116a7b;
  font-weight: 700;
  padding: 50px;
  border-radius: 7px;
  align-items: center;
  height: 400px;
  display: flex;
}

.container {
  width: 350px;
  height: 350px;

  border-radius: 7px;
  border: 0.5px solid lightgray;
  display: flex;
  align-items: center;
  margin: 0 12.5px;
  position: relative;
}

.row {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  overflow: hidden;
}

.img {
  border-radius: 7px;
  position: relative;
  transition: all 0.5s linear;
  border: 0.5px solid lightgray;

  // 컨테이너에 맞게 이미지 크기 수정
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.priviewImg {
  transition: all 1s linear;
  border-radius: 7px;

  // 컨테이너에 맞게 이미지 크기 수정
  object-fit: cover;
  width: 100%;
  height: 100%;
  border: 0.5px solid lightgray;
}

.leftButton {
  display: flex;
  align-items: center;
  height: 100px;
  width: 50px;

  font-size: 25px;
  margin-left: 50px;
  margin-bottom: 150px;
  cursor: pointer;
  position: absolute;
  border: none;
  background-color: gray;
  color: black;
  border-radius: 60px;
  padding: 25px 10px;
  opacity: 0.7;
  z-index: 2;
  transition: all 0.5s ease-in-out;
  left: 0;
}

.rightButton {
  display: flex;
  align-items: center;

  height: 100px;
  width: 50px;
  font-size: 25px;

  margin-right: 50px;
  margin-bottom: 150px;
  cursor: pointer;
  position: absolute;
  border: none;
  background-color: gray;
  color: black;
  border-radius: 60px;
  padding: 25px 10px;
  opacity: 0.7;
  z-index: 2;
  transition: all 0.5s ease-in-out;
  right: 0;
}

.imgDes {
  position: absolute;
  top: 20px;
  left: 20px;
  bottom: 20px;
  right: 20px;
  font-family: 'KBO-Dia-Gothic_bold';

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: lightgray;
  padding: 27px 0 20px;
  opacity: 0.7;
}

.title {
  font-size: 16px;
  font-weight: 700;
  font-size: 26px;
  color: #116a7b;
}

// 버튼 섹션 시작
.buttonBox {
  display: flex;
}

.deleteButton {
  margin-top: 20px;

  margin-right: 25px;
  background-color: #116a7b;
  border: none;
  color: white;
  border-radius: 10px;
  padding: 10px 15px;
  display: flex;
  align-items: center;

  font-size: 23px;
  cursor: pointer;
}

.detailButton {
  margin-top: 20px;

  background-color: #116a7b;
  border: none;
  color: white;
  border-radius: 10px;
  padding: 10px 15px;
  display: flex;
  align-items: center;

  font-size: 23px;
  cursor: pointer;
}

// 버튼 눌림 효과
.deleteButton,
.detailButton {
  transition: transform 0.1s ease-in-out;
}

.deleteButton:active,
.detailButton:active {
  transform: scale(0.95);
}

// 버튼 섹션 끝

.dotWrapper {
  display: flex;
  justify-content: center;
  margin: 35px auto 30px auto;
}

.dot {
  height: 23px;
  width: 23px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
}

.dot.active {
  background-color: #116a7b;
}
