* {
  margin: 0;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.header ul {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;

  // header높이
  height: 62px;
  width: 100%;

  list-style: none;
  background-color: #ece5c7;
  padding: 5px 0;
}

.header li {
  font-size: 20px;
  margin: 20px 20px 20px 30px;
}

.header ul li:nth-child(1) {
  margin: 10px;
}

.header ul li:nth-child(3) {
  display: flex;
  justify-content: flex-end;

  margin: 20px 15px;
}

.iconWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 5px;
  font-size: 35px;
}

button {
  font-size: 19px;
  color: rgb(96, 96, 96);
  margin-left: 16px;
}

button:nth-child(1) {
  margin: 0;
}

button:hover {
  cursor: pointer;
}

.spacing {
  display: flex;
  align-items: center;
  letter-spacing: -0.05em;
}

.hamburger {
  padding: 0;
}

// modal
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

//media

@media (max-width: 768px) {
  // 768px 이하: 햄버거 메뉴와 로그인/로그아웃/마이페이지 숨김
  .header ul li:nth-child(1),
  .header ul li:nth-child(3) {
    display: none;
  }

  .header ul li:nth-child(2) {
    position: static;
    transform: none;
    padding-left: 10px;
  }
}
