* {
  margin: 0;
}

// .test {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   width: 100vw;
//   height: 100vh;
//   z-index: 1002;

//   .test1 {
//     margin-left: 250px;
//     text-align: center;
//     width: 1200px;
//     height: 450px;
//     font-size: 50px;
//     color: black;
//     border: 3px solid red;
//   }
// }

.header {
  position: relative;
  z-index: 1001;
}

.header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;

  height: 60px;
  width: 100%;

  list-style: none;
  background-color: rgb(190, 189, 189);
  padding: 5px;
}

.header ul li:nth-child(1) {
  margin: 20px;
}

.header ul li:nth-child(3) {
  margin: 20px;
}

.header ul li:nth-child(2) {
  margin-top: 10px;
  font-size: 35px;
}

button,
a {
  font-size: 18px;
}

@media (min-width: 768px) {
  .header {
    justify-content: center;
  }
}
